<div class="card" style="max-width: 840px;">
    <div class="row mx-0">
        <div class="col-md-4  p-0">
            
            {{> preview }}

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title ">Cоздай баннер в 1 клик</h4>
                <p class="card-text mb-3"><small> Заполните поля формы
                    и сохраните картинку в формате PNG <br> или скопируйте 
                    в буфер обмена HTML-верстки или JSON</small>
                </p>

                {{> form }}

            </div>
        </div>
    </div>
</div>
