<form class="form d-flex flex-column justify-content-start" action="/new" method="post">
    <div class="form-group">
        <label for="formImg">Ссылка на картинку</label>
        <input  name="itemImg" 
            type="url"
            id="formImg"
            class="form-control" 
            placeholder="https://example.com" 
            pattern="https://.*" 
            size="30" 
            required>
    </div>
    <div class="form-group">
        <label for="formColor">Цвет фона</label>
        <input name="itemColor" 
            type="color" 
            id="formColor"
            class="form-control"
            value="#ffffff">
    </div>
    <div class="form-group">
        <label for="formLink">Ссылка баннера</label>
        <input name="itemLink" 
            type="url" 
            id="formLink"
            class="form-control"
            placeholder="https://example.com" 
            pattern="https://.*">
    </div>
    <div class="form-group">
        <label for="form__textarea">Текст баннера</label>
        <textarea name="itemText"
            id="formTextarea"
            class="form-control" 
            placeholder="Здесь будет ваш текст"
            rows="3"></textarea>
    </div>
    <div class="alert alert-warning" role="alert">Пожалуйста, заполните все поля формы!</div>
    <div class="form-group">
        <div class="form__buttons mt-2">
            <button type="button" id="btnPNG" class="btn btn-success mr-3">PNG</button>
            <button type="button" id="btnHTML" class="btn  btn-success mr-3" >HTML</button>
            <button type="button" id="btnJSON" class="btn btn-success" >JSON</button>
        </div>
    </div>